<!DOCTYPE html>
<html>
  <head>
   <!-- <title>Ruby on Rails Tutorials Sample App | <%= @title %></title> -->
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'media' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


